script(id="button-box", type="text/x-template")
  div(class="menu" @click="click")
    label(class="menu__button", for="file", title="Upload", v-show="!uploaded")
      span(class="fa fa-upload")
    button(class="menu__button", data-action="restore", title="Undo (Ctrl + Z)", v-show="cropped")
      span(class="fa fa-undo")
    button(class="menu__button menu__button--danger", data-action="remove", title="Delete (Delete)", v-show="uploaded && !cropping")
      span(class="fa fa-trash")
    button(class="menu__button menu__button--danger", data-action="clear", title="Cancel (Esc)", v-show="cropping")
      span(class="fa fa-ban")
    button(class="menu__button menu__button--success", data-action="crop", title="OK (Enter)", v-show="cropping")
      span(class="fa fa-check")
    a(class="menu__button menu__button--success", data-action="download", href="{{ url }}", title="Download", download="{{ name }}", v-show="url")
      span(class="fa fa-download")
    a(class="menu__button", data-action="download", href="https://github.com/fengyuanchen/photo-editor", title="View on GitHub")
      span(class="fa fa-github")

