script(id="canvas-box", type="text/x-template")
  div(class="canvas", v-show="editable")
    div(class="editor", @dblclick="dblclick")
      template(v-if="url")
        img(src="{{ url }}", alt="{{ name }}", @load="load")
    div(class="toolbar", @click="click", v-show="cropper")
      button(class="toolbar__button", data-action="move", title="Move (M)")
        span(class="fa fa-arrows")
      button(class="toolbar__button", data-action="crop", title="Crop (C)")
        span(class="fa fa-crop")
      button(class="toolbar__button", data-action="zoom-in", title="Zoom In (I)")
        span(class="fa fa-search-plus")
      button(class="toolbar__button", data-action="zoom-out", title="Zoom Out (O)")
        span(class="fa fa-search-minus")
      button(class="toolbar__button", data-action="rotate-left", title="Rotate Left (L)")
        span(class="fa fa-rotate-left")
      button(class="toolbar__button", data-action="rotate-right", title="Rotate Right (R)")
        span(class="fa fa-rotate-right")
      button(class="toolbar__button", data-action="flip-horizontal", title="Flip Horizontal (H)")
        span(class="fa fa-arrows-h")
      button(class="toolbar__button", data-action="flip-vertical", title="Flip Vertical (V)")
        span(class="fa fa-arrows-v")

