doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="A photo editing application based on the Cropper.js")
    meta(name="keywords", content="HTML, CSS, JS, JavaScript, photo, editor, front-end, web development")
    meta(name="author", content="Fengyuan Chen")
    title Photo Editor
    link(href="css/font-awesome.min.css", rel="stylesheet")
    link(href="css/cropper.min.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
  body
    header(class="header")
      span(class="title") Photo Editor
      button-box
    main(class="main")
      upload-box
      canvas-box
    include ./button-box.jade
    include ./upload-box.jade
    include ./canvas-box.jade
    script(src="js/vue.min.js")
    script(src="js/cropper.min.js")
    script(src="js/main.js")

