script(id="upload-box", type="text/x-template")
  div(class="upload", @change="change", @dragover="dragover", @drop="drop", v-show="!uploaded")
    p Drop image here or
      label(class="browse") browse...
        input(class="sr-only", id="file", type="file", accept="image/*")
